#title{font-size: x-large;}
        li{margin-bottom:8px;}
        #all_posts{margin-top:24px;margin-right:24px;font-size:small;}
        .subtitle{font-size:small;margin:12px 0px;}
        #description{font-size:large;margin-bottom:12px;}
        img{max-width:100%;}
